<div class="olho-container-table" id='table-page' style='height: 100vh'>
  <div class="olho-div div-90 p-4">
    <div class= "olho-grid-container">
      
      <!-- Column 1 -->
      <div class='d-flex flex-column justify-content-between'>
        <% if @restaurant.photo.attached? %>
          <div class='olho-div py-3 overflow-auto' style="background:url('<%= cl_image_path @restaurant.photo.key %>');background-size: cover; height:262px;">
          </div>
        <% end %>
        <div class='text-center'>
          <h1 style="font-family: 'Gruppo', cursive;"><strong><%= @restaurant.name %></strong></h1>
          <h3 style="font-family: 'Gruppo', cursive;"><strong>Table:</strong> <%= @table.number %></h3>
          <h3 style="font-family: 'Gruppo', cursive;"><strong>Status:</strong> <%= @table.status %></h3>
        </div>
        <div>
          <p style='font-style: italic; margin-bottom: 2px;'>Have you ever tried this? </p>
          <div class='olho-div py-3 overflow-auto' style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEOUOi6IBgW0a3mhojht94H8kKqxm4vfVZmQ&usqp=CAU');background-size: cover; height:262px;">
          </div>
        </div>
      </div>

      <!-- Column 2 -->
      <% if @table.status == 'open' %>
        <!-- Product List-->
        <div class='olho-div p-5 menu-background'>
          <div class="h-100">
          <h2 class='text-center text-white'><strong>Menu</strong></h2>
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active olho-color-white" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true"><strong>All</strong></a>
              <a class="nav-item nav-link olho-color-white" id="nav-food-tab" data-toggle="tab" href="#nav-food" role="tab" aria-controls="nav-food" aria-selected="false"><strong>Food</strong></a>
              <a class="nav-item nav-link olho-color-white" id="nav-beverage-tab" data-toggle="tab" href="#nav-beverage" role="tab" aria-controls="nav-beverage" aria-selected="false"><strong>Beverage</strong></a>
              <a class="nav-item nav-link olho-color-white" id="nav-dessert-tab" data-toggle="tab" href="#nav-dessert" role="tab" aria-controls="nav-dessert" aria-selected="false"><strong>Dessert</strong></a>
            </div>
          </nav>
          <div class="tab-content overflow-auto menu-items-container" id="nav-tabContent">
            <!-- All Products -->
            <div class="tab-pane fade show active " id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
              <% if @products.length > 0 %>
                <div class=" d-flex align-items-center justify-content-start flex-wrap container">
                  <% @products.each do |product| %>
                    <div class="card-product olho-div flex-grow-1">
                    <% if product.photo.attached? %>
                      <%= cl_image_tag product.photo.key %>
                    <% else %>
                      <%= image_tag('no-photo.jpg') %>
                    <% end %>
                      <div class="card-product-infos">
                        <h2><%= product.name %></h2>
                        <p><%= product.description %></p>
                        <p><strong><%= number_to_currency(product.price) %></strong></p>
                        <div class='card-product-infos-buttons d-flex' style='text-align: right'>
                          <%= simple_form_for([@table, @order_item], html: { class: "d-flex align-items-center"}) do |f| %>
                              <%= f.input :product_quantity, label: false, collection: 1..10, selected: 1, input_html: { class: "p-0 h-50 w-100" }, wrapper_html: { class: "m-0" } %>
                              <%= f.input :product_id, label: false, input_html: {value: "#{product.id}", class: 'd-none'} %>
                              <%= f.submit 'add', class: 'olho-btn-card olho-green ml-2 olho-table', wrapper_html: { class: "m-0" } %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>  
              <% end %>
            </div>
            <!-- Food Products -->
            <div class="tab-pane fade" id="nav-food" role="tabpanel" aria-labelledby="nav-food-tab">
              <% if @foods.length > 0 %>
                <div class=" d-flex align-items-center justify-content-start flex-wrap container">
                  <% @foods.each do |product| %>
                    <div class="card-product olho-div flex-grow-1">
                    <% if product.photo.attached? %>
                      <%= cl_image_tag product.photo.key %>
                    <% else %>
                      <%= image_tag('no-photo.jpg') %>
                    <% end %>
                      <div class="card-product-infos">
                        <h2><%= product.name %></h2>
                        <p><%= product.description %></p>
                        <p><strong><%= number_to_currency(product.price) %></strong></p>
                        <div class='card-product-infos-buttons d-flex' style='text-align: right'>
                          <%= simple_form_for([@table, @order_item], html: { class: "d-flex align-items-center"}) do |f| %>
                              <%= f.input :product_quantity, label: false, collection: 1..10, selected: 1, input_html: { class: "p-0 h-50 w-100" }, wrapper_html: { class: "m-0" } %>
                              <%= f.input :product_id, label: false, input_html: {value: "#{product.id}", class: 'd-none'} %>
                              <%= f.submit 'add', class: 'olho-table olho-btn-card olho-green ml-2', wrapper_html: { class: "m-0" } %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>  
              <% end %>
            </div>
            <!-- Beverage Products -->
            <div class="tab-pane fade" id="nav-beverage" role="tabpanel" aria-labelledby="nav-beverage-tab">
              <% if @beverages.length > 0 %>
                <div class=" d-flex align-items-center justify-content-start flex-wrap container">
                  <% @beverages.each do |product| %>
                    <div class="card-product olho-div flex-grow-1">
                    <% if product.photo.attached? %>
                      <%= cl_image_tag product.photo.key %>
                    <% else %>
                      <%= image_tag('no-photo.jpg') %>
                    <% end %>
                      <div class="card-product-infos">
                        <h2><%= product.name %></h2>
                        <p><%= product.description %></p>
                        <p><strong><%= number_to_currency(product.price) %></strong></p>
                        <div class='card-product-infos-buttons d-flex' style='text-align: right'>
                          <%= simple_form_for([@table, @order_item], html: { class: "d-flex align-items-center"}) do |f| %>
                              <%= f.input :product_quantity, label: false, collection: 1..10, selected: 1, input_html: { class: "p-0 h-50 w-100" }, wrapper_html: { class: "m-0" } %>
                              <%= f.input :product_id, label: false, input_html: {value: "#{product.id}", class: 'd-none'} %>
                              <%= f.submit 'add', class: 'olho-table olho-btn-card olho-green ml-2', wrapper_html: { class: "m-0" } %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>  
              <% end %> 
            </div>
            <!-- Dessert Products -->
            <div class="tab-pane fade" id="nav-dessert" role="tabpanel" aria-labelledby="nav-dessert-tab">
              <% if @desserts.length > 0 %>
                <div class=" d-flex align-items-center justify-content-start flex-wrap container">
                  <% @desserts.each do |product| %>
                    <div class="card-product olho-div flex-grow-1">
                    <% if product.photo.attached? %>
                      <%= cl_image_tag product.photo.key %>
                    <% else %>
                      <%= image_tag('no-photo.jpg') %>
                    <% end %>
                      <div class="card-product-infos">
                        <h2><%= product.name %></h2>
                        <p><%= product.description %></p>
                        <p><strong><%= number_to_currency(product.price) %></strong></p>
                        <div class='card-product-infos-buttons d-flex' style='text-align: right'>
                          <%= simple_form_for([@table, @order_item], html: { class: "d-flex align-items-center"}) do |f| %>
                              <%= f.input :product_quantity, label: false, collection: 1..10, selected: 1, input_html: { class: "p-0 h-50 w-100" }, wrapper_html: { class: "m-0" } %>
                              <%= f.input :product_id, label: false, input_html: {value: "#{product.id}", class: 'd-none'} %>
                              <%= f.submit 'add', class: 'olho-table olho-btn-card olho-green ml-2', wrapper_html: { class: "m-0" } %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>  
              <% end %>
            </div>

          </div>
          </div>
        </div>

      <% elsif @table.status == 'waiting' %>
        <!-- Waiting Payment-->
        <div id='reload-js' class='olho-div py-3 overflow-auto d-flex align-items-center justify-content-center menu-background'>
          <div class='olho-div olho-form olho-green text-white text-center'>
           <h1>Waiting for Payment Confirmation</h1>
          </div>
        </div>
      <% else %>
        <!-- Thanks and Rating -->
        <div class='olho-div py-3 overflow-auto d-flex align-items-center justify-content-center menu-background'>
          <div class='olho-div olho-form-end text-center'>
          <h1 style="font-family: 'Gruppo', cursive;">Thank you for your visit! </h1>
          <br>
          <%= simple_form_for(@table) do |f| %>
          <h4 class='text-center' style="font-family: 'Gruppo', cursive;">Please, review our restaurant:</h4>
          <br>
            <div class="form-inputs">
              <%= f.input :rating,
                          required: true,
                          collection: %i[1 2 3 4 5] %>
              <%= f.input :comment %>
            </div>
            <div class="form-actions d-flex items-align-center justify-content-between w-100">
              <%= f.submit 'Rate', class: 'olho-table olho-form-button olho-btn olho-green mt-3 mr-2' %>
              <%= link_to 'skip', "/restaurants/#{@table.restaurant.id}/spaces/#{@table.number}/tables/new", class: 'olho-table olho-form-button olho-btn olho-red mt-3 ml-2' %>
            </div>
          <% end %>
          </div>
        </div>
      <% end %> 
        
      <!-- Column 3 -->
      <div class='olho-div py-3 p-3' style='background-color: lightyellow;'>
        <h2 class='text-center'><strong>Bill</strong></h2>
        
        <div class='olho-grid-container-bill' data-table-id="<%= @table.id %>" id="order-items-table">
          <p class='bill-dot-bottom'><strong>Item</strong></p>
          <p class='bill-dot-bottom'><strong>Qnt</strong></p>
          <p class='bill-dot-bottom'><strong>Unit</strong></p>
          <p class='bill-dot-bottom'><strong>Total</strong></p>
          <p class='bill-dot-bottom'><strong>Status</strong></p>
          <p class='bill-dot-bottom'></p>
          <% @order_items.each do |order_item| %>
            <p><%= order_item.product.name %></p>
            <p class='ml-2'><%= order_item.product_quantity %></p>
            <p><%= number_to_currency(order_item.product.price) %></p>
            <p><%= number_to_currency(order_item.product.price * order_item.product_quantity) %></p>
            <p id='<%= order_item.id %>'><%= order_item.status %></p>
            <% if order_item.status == 'placed' %>
              <p id='<%= order_item.id %>-remove'><%= link_to 'X', order_item_path(order_item), class: 'olho-color-red', method: :delete, data: { confirm: "Are you sure?" } %></p>
            <% else %>
              <p></p>
            <% end %>
          <% end %>
        </div>
        <div class='w-100 text-right' style='height: fill'>
          <p class='bill-dot-top'><strong>TOTAL: <%= number_to_currency(@table.total) %></strong></p>
          
          <!-- Button trigger modal -->
          <% if @table.status == 'open' %>
            <button type="button" class="olho-checkout-btn" data-toggle="modal" data-target="#CheckoutModal">
              Checkout
            </button>
          <% else %>
            <button type="button" class="olho-checkout-btn-disable" data-toggle="modal" data-target="#CheckoutModal" disabled>
              Checkout
            </button>
          <% end %>
          

          <!-- Modal -->
          <div class="modal fade" id="CheckoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog h-100 d-flex align-items-center justify-content-center" role="document">
              <div class="modal-content olho-div">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLabel" style="font-family: 'Gruppo', cursive;">Checkout</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                 <div class="olho-form container text-center">
                  <h2 class='mb-4' style="font-family: 'Gruppo', cursive;">Payment Method</h3>
                  <%= simple_form_for(@table) do |f| %>
                    <div class="form-inputs">
                      <%= f.association :terminal, label: 'Choose an option:' %>
                    </div>
                    <div class="form-actions">
                      <%= f.submit 'PAY', class: 'olho-table olho-form-button olho-btn olho-green mt-3' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>  
</div>