<div class="olho-form-container">
  <div class="container olho-div p-3">
    <div class='ml-4 mt-3'>
      <h1 style="font-family: 'Gruppo', cursive;"><strong>Restaurants</strong></h1>
      <h2 style="font-family: 'Gruppo', cursive;">Your restaurants list:</h2>
    </div>

    <% if user_signed_in? %>
      <div class="container d-flex align-items-center justify-content-around flex-wrap">

        <% @restaurants.each do |restaurant| %>
          <div class="card mx-3 mt-3" style="width: 18rem;"> 
            <% if restaurant.photo.attached? %>
              <%= cl_image_tag restaurant.photo.key, crop: :fill %>
            <% else %>
              <img src="https://versatille.com/wp-content/uploads/aurelien-lemasson-theobald-CzBt4Dfk-unsplash.jpg" /> 
            <% end %>

            <div class="card-body">
              <h5 class="card-title" style="font-family: 'Courgette', cursive;"><strong><%=restaurant.name%></strong></h5>
              <br>
              <h6 class="card-text " style="font-family: 'Courgette', cursive;"><strong>Address:</strong> <%=restaurant.address%></h6>
              <h6 class="card-text" style="font-family: 'Courgette', cursive;"><strong>Phone:</strong> <%=restaurant.phone%></h6>
              <div style="text-align: right;">
                <span style="font-size: 30px">
                  <%= link_to restaurant_products_path(restaurant), class: 'qualquer' do%>
                    <i title="Products Menu" class="fas fa-clipboard-list"></i>
                  <% end %>
                  <%= link_to restaurant_terminals_path(restaurant), class: 'qualquer'  do%>
                    <i title="Terminals" class="far fa-credit-card"></i>
                  <% end %>
                  <%= link_to restaurant_expenses_path(restaurant), class: 'qualquer'  do%>
                    <i title="Expenses" class="fas fa-file-invoice-dollar"></i>
                  <% end %>
                  <%= link_to restaurant_path(restaurant), class: 'qualquer'  do%>
                    <i title="Dashboard" class="far fa-chart-bar"></i>
                  <% end %>
                </span>
              </div>
            </div>
          </div>
       <%end%>
      </div>
      <br>
      <div class="d-flex align-items-center justify-content-between">
        <%= link_to 'New Restaurant', new_restaurant_path, class: 'olho-btn olho-green ml-4 mb-3' %>
      </div>

    <%end%>    
  </div>
</div>