<div class="olho-form-container">
  <div class="container olho-div">
    <div class="card-restaurant">
        <% if @restaurant.photo.attached? %>
        <%= cl_image_tag @restaurant.photo.key, crop: :fill %>
        <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> 
        <% end %>
        <div class="card-restaurant-infos">

            <div class="card-restaurant-linha row">

                <div class="texto-restaurant-linha col-10">
                    <h2><%= @restaurant.name %></h2>
                    <br>
                    <p><strong>Address: </strong><%= @restaurant.address %></p>
                    <p><strong>Phone: </strong><%= @restaurant.phone %></p>
                    <br>
                    <p><strong># of tables:</strong> 16</p>
                    
                </div>      
                <div class="star-div col-2">
                    <% if @restaurant.rating_avg %>
                        <div class="star-ratings-css" title="<%=(@restaurant.rating_avg * 2 / 10).round(1)%>"></div>
                    <% else %>
                        <p>Rating: none<p>
                    <% end %>
                        <p class="text-botton"><%= link_to "Comments", '#' %></p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right">
       <%= link_to 'Edit',  edit_restaurant_path(@restaurant), class: 'olho-form-button olho-btn olho-green' %>
       <%= link_to 'Delete', restaurant_path(@restaurant), method: :delete, class: 'olho-form-button olho-btn olho-red' %>
       <%= link_to 'Back', restaurants_path, class: 'olho-btn olho-green btn-sm'  %>
    </div>
    <br>
  </div>
  <br>

  <div class="container olho-div">
    <div class="d-flex flex-wrap justify-content-center">


        <div class="card mx-3 mt-3" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Revenue</strong></h5>
                <br>
                <h6><strong>Day:</strong> R$ 3.530,00</h6>
                <h6> <strong> Month:</strong>  R$ 42.300,00 </h6> 
                <h6><strong>Cash-In of the Month :</strong> R$ 75.200,00 </h6> 
                <h6><strong>Cash-Out of the Month :</strong> R$ 48.100,00</h6>
                <br>
                <div style="text-align: right;">
                <%= link_to 'Show',  '#', class: 'olho-form-button olho-btn olho-green  btn-sm' %>
                </div>
            </div>
        </div>

        <div class="card mx-3 mt-3" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Expenses</strong></h5>
                <br>
                <h6 class="card-text "><strong>Payroll:</strong> R$ 15.300,00</h6>
                <h6 class="card-text "><strong>Rent & Utilities:</strong> R$ 4.400,00</h6>
                <h6 class="card-text "><strong>Office:</strong> R$ 2.500,00</h6>
                <h6 class="card-text "><strong>Inputs:</strong> R$ 12.500,00</h6>
                <br>
                <div style="text-align: right;">
                <%= link_to 'Show',  restaurant_expenses_path(@restaurant), class: 'olho-form-button olho-btn olho-green  btn-sm' %>
                </div>
            </div>
        </div>

        <div class="card mx-3 mt-3" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Kitchen Menu</strong></h5>
                <br>
                <h6 class="card-text "><strong>Top Food:</strong> Pizza Calabresa (192)</h6>
                <h6 class="card-text "><strong>Top Beverage:</strong> Cerveja (143)</h6>
                <h6 class="card-text "><strong>Top Dessert:</strong> Brigadeiro (35)</h6>
                <h6 class="card-text "><strong>Average prep time:</strong> 25 min</h6>
                <br>
                <div style="text-align: right;">
                <%= link_to 'Show',  restaurant_products_path(@restaurant), class: 'olho-form-button olho-btn olho-green  btn-sm' %>
                </div>
            </div>
        </div>

    </div>
    <br>
  </div>

<br>

  <div class="container olho-div">
    <div class="d-flex flex-wrap justify-content-center">



        <div class="card mx-3 mt-3" style="width: 11rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Customers</strong></h5>
                <br>
                <h6 class="card-text "><strong>Day:</strong> 50</h6>
                <h6 class="card-text "><strong>Month:</strong> 400</h6>
                <h6 class="card-text "><strong>Average:</strong> 55</h6>
            </div>
        </div>

        <div class="card mx-3 mt-3" style="width: 11rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Menu</strong></h5>
                <br>
                <h6 class="card-text "><strong>Foods:</strong> 8</h6>
                <h6 class="card-text "><strong>Beverages:</strong> 4</h6>
                <h6 class="card-text "><strong>Desserts:</strong> 5</h6>
            </div>
        </div>

        <div class="card mx-3 mt-3" style="width: 11rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Tables</strong></h5>
                <br>
                <h6 class="card-text "><strong>Foods:</strong> 8</h6>
                <h6 class="card-text "><strong>Beverages:</strong> 4</h6>
                <h6 class="card-text "><strong>Desserts:</strong> 5</h6>
            </div>
        </div>

        <div class="card mx-3 mt-3" style="width: 11rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Ratings</strong></h5>
                <br>
                <h6 class="card-text "><strong>Foods:</strong> 8</h6>
                <h6 class="card-text "><strong>Beverages:</strong> 4</h6>
                <h6 class="card-text "><strong>Desserts:</strong> 5</h6>
            </div>
        </div>

        <div class="card mx-3 mt-3" style="width: 11rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Ratings</strong></h5>
                <br>
                <h6 class="card-text "><strong>Foods:</strong> 8</h6>
                <h6 class="card-text "><strong>Beverages:</strong> 4</h6>
                <h6 class="card-text "><strong>Desserts:</strong> 5</h6>
            </div>
        </div>
        
    </div>
    <br>
  </div>


</div>

