<div class="olho-form-container">
  <div class="container olho-div">
    <div class="card-restaurant">
        <% if @restaurant.photo.attached? %>
        <%= cl_image_tag @restaurant.photo.key, crop: :fill %>
        <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> 
        <% end %>
        <div class="card-restaurant-infos">

            <div class="card-restaurant-linha row">

                <div class="texto-restaurant-linha col-10">
                    <h2><%= @restaurant.name %></h2>
                    <br>
                    <p><strong>Address: </strong><%= @restaurant.address %></p>
                    <p><strong>Phone: </strong><%= @restaurant.phone %></p>
                    <br>
                    <p><strong># of tables:</strong> <%= @restaurant.nbr_of_tables %></p>
                    
                </div>      
                <div class="star-div col-2">
                    <% if @restaurant.rating_avg %>
                        <div class="star-ratings-css" title="<%=(@restaurant.rating_avg * 2 / 10).round(1)%>"></div>
                    <% else %>
                        <p>Rating: none<p>
                    <% end %>
                        <p class="text-botton"><%= link_to "Comments", '#' %></p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right">
       <%= link_to 'Edit',  edit_restaurant_path(@restaurant), class: 'olho-form-button olho-btn olho-green btn-sm' %>
       <%= link_to 'Delete', restaurant_path(@restaurant), method: :delete, class: 'olho-form-button olho-btn olho-red btn-sm' %>
       <%= link_to 'Back', restaurants_path, class: 'btn btn-back btn-sm'  %>
    </div>
    <br>
  </div>
  <br>

  <div class="container olho-div">
    <div class="d-flex flex-wrap justify-content-center">


        <div class="card mx-3 mt-3" style="width: 21rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Revenue & Cash-flow</strong></h5>
                <br>
                <h6 style = "color: green"><strong>Day:</strong> <%= number_to_currency(@day_amount)  %> </h6>
                <h6 style = "color: green"> <strong> Month:</strong> <%= number_to_currency(@month_amount) %> </h6> 
                <h6 style = "color: green"> <strong> Year:</strong>  <%= number_to_currency(@year_amount) %> </h6> 
                <h6><strong>Cash-In of the Month :</strong> R$ 75.200,00 </h6> 
                <h6><strong>Cash-Out of the Month :</strong> R$ 48.100,00</h6>
                <div style="text-align: right;">
                <%= link_to 'Show',  restaurant_cashflow_path(@restaurant), class: 'olho-form-button olho-btn olho-green  btn-sm' %>
                </div>
            </div>
        </div>

        <div class="card mx-3 mt-3" style="width: 21rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Open Expenses</strong></h5>
                <br>
                <h6 class="card-text" style = "color: green"><strong>Payroll:</strong> <%= number_to_currency(@expense_hash['Payroll']) %></h6>
                <h6 class="card-text" style = "color: green"><strong>Rent & Utilities:</strong> <%= number_to_currency(@expense_hash['Rent&Utilities']) %></h6>
                <h6 class="card-text" style = "color: green"><strong>Office:</strong> <%= number_to_currency(@expense_hash['Office']) %></h6>
                <h6 class="card-text" style = "color: green"><strong>Inputs:</strong> <%= number_to_currency(@expense_hash['Inputs']) %></h6>
                <br>
                <div style="text-align: right;">
                <%= link_to 'Show',  restaurant_expenses_path(@restaurant), class: 'olho-form-button olho-btn olho-green  btn-sm' %>
                </div>
            </div>
        </div>

        <div class="card mx-3 mt-3" style="width: 21rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Kitchen Menu</strong></h5>
                <br>
                <h6 class="card-text " style = "color: green"><strong>Top 1 Product:</strong> <%=@item1 %></h6>
                <h6 class="card-text " style = "color: green"><strong>Top 2 Product:</strong> <%=@item2 %></h6>
                <h6 class="card-text " style = "color: green"><strong>Top 3 Product:</strong> <%=@item3 %></h6>
                <br>
                <br>
                <div style="text-align: right;">
                <%= link_to 'Show',  restaurant_products_path(@restaurant), class: 'olho-form-button olho-btn olho-green  btn-sm' %>
                </div>
            </div>
        </div>

    </div>
    <br>
  </div>

<br>

  <div class="container olho-div">
    <div class="d-flex flex-wrap justify-content-center">

        <div class="card mx-3 mt-3" style="width: 21rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Greater Revenue</strong></h5>
                <br>
                <h6 class="card-text " style = "color: green"><strong>Foods:</strong> <%= @amount1 %></h6>
                <h6 class="card-text " style = "color: green"><strong>Beverages:</strong> <%= @amount2 %></h6>
                <h6 class="card-text " style = "color: green"><strong>Desserts:</strong> <%= @amount3 %></h6>
            </div>
        </div>


        <div class="card mx-3 mt-3" style="width: 21rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Orders</strong></h5>
                <br>
                <h6 class="card-text " style = "color: green"><strong>Day:</strong> <%= @day_order_qty %></h6>
                <h6 class="card-text " style = "color: green"><strong>Month:</strong> <%= @month_order_qty %></h6>
                <h6 class="card-text " style = "color: green"><strong>Year:</strong> <%= @year_order_qty %></h6>
            </div>
        </div>

        <div class="card mx-3 mt-3" style="width: 21rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Menu Items</strong></h5>
                <br>
                <h6 class="card-text " style = "color: green"><strong>Foods:</strong> <%= @nbr_foods %></h6>
                <h6 class="card-text " style = "color: green"><strong>Beverages:</strong> <%= @nbr_beverages %></h6>
                <h6 class="card-text " style = "color: green"><strong>Desserts:</strong> <%= @nbr_desserts %></h6>
            </div>
        </div>

        
    </div>
    <br>
  </div>


</div>

