<div class="olho-form-container" p-5>
<br>
  <div class="container olho-div">
    
    <div class="card-restaurant">
        <% if @restaurant.photo.attached? %>
        <%= cl_image_tag @restaurant.photo.key, crop: :fill %>
        <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> 
        <% end %>
        <div class="card-restaurant-infos">

            <div class="card-restaurant-linha row">

                <div class="texto-restaurant-linha col-10">
                    <h2><%= @restaurant.name %></h2>
                    <br>
                    <p><strong>Address: </strong><%= @restaurant.address %></p>
                    <p><strong>Phone: </strong><%= @restaurant.phone %></p>
                    <br>
                    <p><strong># of tables:</strong> <%= @restaurant.nbr_of_tables %></p>
                    
                </div>      
                <div class="star-div col-2">
                    <% if @restaurant.rating_avg %>
                        <div class="star-ratings-css" title="<%=(@restaurant.rating_avg * 2 / 10).round(1)%>"></div>
                    <% else %>
                        <p>Rating: none<p>
                    <% end %>
                    <!-- Button trigger modal -->
                    <button type="button" class="olho-comments-btn mt-3" data-toggle="modal" data-target="#RatingModal">
                        Comments
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="RatingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog h-100 d-flex align-items-center justify-content-center" role="document">
                            <div class="modal-content olho-div h-75 w-100">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">All comments</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="h-100 w-100 m-0 px-4 overflow-auto">
                                    <% @comment_tables.each do |table| %>
                                        <div class="olho-div olho-card-rating my-4 p-2">
                                            <div class= 'ml-2 mr-3'>
                                                <p><%= table.updated_at.strftime("%Y/%m/%d") %></p>
                                                <div class="star-ratings-css" title="<%=(table.rating.to_f * 2 / 10).round(1) %>"></div>
                                            </div>
                                            
                                            <div class="">
                                                <p>"<%= table.comment %>"</p>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>			
                </div>
            </div>
        </div>
    </div>
    <div class='d-flex justify-content-between'>
        <div class="d-flex justify-content-start align-items-center">
            <%= link_to 'Kitchen',   restaurant_order_items_path(@restaurant), class: 'olho-form-button olho-btn olho-green btn-sm mr-2' %>
            <div class="dropdown">
                <button class="olho-form-button olho-btn olho-green btn-sm dropdown-toggle olho-table" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tables
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <% @restaurant.nbr_of_tables.times do |index| %>
                        <%= link_to "Table #{index + 1}", "/restaurants/#{@restaurant.id}/spaces/#{index + 1}/tables/new", class: 'dropdown-item' %>
                    <% end %>
                    
                </div>
            </div>
        </div>
        <div class="">
            <%= link_to 'Edit',  edit_restaurant_path(@restaurant), class: 'olho-form-button olho-btn olho-green btn-sm' %>
            <%= link_to 'Delete', restaurant_path(@restaurant), method: :delete, class: 'olho-form-button olho-btn olho-red btn-sm' %>
            <%= link_to 'Back', restaurants_path, class: 'btn btn-back btn-sm'  %>
        </div>
    </div>
    <br>
  </div>
  <br>

  <div class="container olho-div">
    <div class="d-flex flex-wrap justify-content-center">


        <div class="card mx-3 mt-3" style="width: 21rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Revenue & Cash-flow</strong></h5>
                <%= pie_chart [["Foods", @tot_amount1], ["Beverages", @tot_amount2], ["Desserts", @tot_amount3]], legend: "bottom", prefix: "$", thousands: ".", decimal: "," %>
                <br>
                <div style="text-align: right;">
                <%= link_to 'Show',  restaurant_cashflow_path(@restaurant), class: 'olho-form-button olho-btn olho-green  btn-sm' %>
                </div>
            </div>
        </div>

        <div class="card mx-3 mt-3" style="width: 21rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Open Expenses</strong></h5>
                <%= bar_chart [ ["Payroll", @expense_hash['Payroll'] ], ["Rent&Utilities", @expense_hash['Rent&Utilities'] ], ["Office", @expense_hash['Office'] ], ["Inputs", @expense_hash['Inputs']] ], prefix: "$", thousands: ".", decimal: "," %>
                <br>
                <div style="text-align: right;">
                <%= link_to 'Show',  restaurant_expenses_path(@restaurant), class: 'olho-form-button olho-btn olho-green  btn-sm' %>
                </div>
            </div>
        </div>

        <div class="card mx-3 mt-3" style="width: 21rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Kitchen Menu</strong></h5>
                <%= column_chart [ [@item1_name, @item1 ], [@item2_name, @item2 ], [@item3_name, @item3 ] ], thousands: "." %>
                <br>
                <div style="text-align: right;">
                <%= link_to 'Show',  restaurant_products_path(@restaurant), class: 'olho-form-button olho-btn olho-green  btn-sm' %>
                </div>
            </div>
        </div>

    </div>
    <br>
  </div>

<br>

  <div class="container olho-div">
    <div class="d-flex flex-wrap justify-content-center">

        <div class="card mx-3 mt-3" style="width: 19rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Revenue Details</strong></h5>
                <br>
                <h6 style = "color: black"><strong>Day:</strong> <%= number_to_currency(@day_amount)  %> </h6>
                <h6 style = "color: black"> <strong>Month:</strong> <%= number_to_currency(@month_amount) %> </h6> 
                <h6 style = "color: black"> <strong>Year:</strong>  <%= number_to_currency(@year_amount) %> </h6> 
           </div>
        </div>

        <div class="card mx-3 mt-3" style="width: 19rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Tops by Revenue</strong></h5>
                <br>
                <h6 class="card-text " style = "color: black"><strong>Food:</strong> <%= @amount1 %></h6>
                <h6 class="card-text " style = "color: black"><strong>Beverage:</strong> <%= @amount2 %></h6>
                <h6 class="card-text " style = "color: black"><strong>Dessert:</strong> <%= @amount3 %></h6>
            </div>
        </div>


        <div class="card mx-3 mt-3" style="width: 11rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Orders</strong></h5>
                <br>
                <h6 class="card-text " style = "color: black"><strong>Day:</strong> <%= @day_order_qty %></h6>
                <h6 class="card-text " style = "color: black"><strong>Month:</strong> <%= @month_order_qty %></h6>
                <h6 class="card-text " style = "color: black"><strong>Year:</strong> <%= @year_order_qty %></h6>
            </div>
        </div>

        <div class="card mx-3 mt-3" style="width: 11rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Menu Items</strong></h5>
                <br>
                <h6 class="card-text " style = "color: black"><strong>Foods:</strong> <%= @nbr_foods %></h6>
                <h6 class="card-text " style = "color: black"><strong>Beverages:</strong> <%= @nbr_beverages %></h6>
                <h6 class="card-text " style = "color: black"><strong>Desserts:</strong> <%= @nbr_desserts %></h6>
            </div>
        </div>

        
    </div>
    <br>
  </div>
  <br>

</div>

