<div class="olho-container-kitchen">
  <div class="olho-div p-2">
    <table class="table">
      <h2 class="m-3"><strong>Order Kitchen Management</strong></h2>
        <thead>
          <tr>
            <th scope="col">Table</th>
            <th scope="col">Product</th>
            <th scope="col">Qtd</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <% @order_items.each do |order_item| %>
          <tbody>
            <td><%= order_item.table.number %></td>
            <td><%= order_item.product.name %></td>
            <td><%= order_item.product_quantity %></td>
            <td><%= "#{order_item.created_at.hour-3}:#{order_item.created_at.min}" %></td>
            <td><%= link_to 'preparing', "#", class: 'btn btn-outline-warning btn-sm' %></td>
            <td><%= link_to 'ready', "#", class: 'btn btn-outline-success btn-sm' %></td>
          </tbody>
        <% end %>
      <td><%= link_to "back", "#", class: 'btn btn-back btn-sm' %></td>
    </table>
  </div>
</div>
